page-map {
    .map-container {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
    }
    .button-wrapper {
        position: absolute;
        bottom: 10px;
        width: 100%;
    }


    .emergencyButton {
        height: 75px;
        width: 75px;
        z-index: 1800;
    }
}
