page-account {

    .mainContainer {
        background: rgb(55, 196, 180);
    }

    .centerImage {
        display: block;
        height: 50%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .bottomBorder {
        margin-top: 10px;
        border-bottom: 2px solid gray;
    }

    .displayFormTitle {
        font-weight: bold;

    }

    .displayFormDetails {
        float: right;
    }

    .emergencyContactsButton {
       width: 90%;
       margin: 0 auto;
    }

    .editButtons {
        width: 94%;
        margin: 0 auto;
     }

}
